*{
    margin: 0;
    padding: 0;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    width: 50vw;
  }

.caixa-menu{
    display: flex; 
    flex-direction: row; 
    align-items:top;
    justify-content: center;
}

.item-menu{
    width: 100px;
    height: 50px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;

}
.item-menu a{
        color: #fff;
        text-decoration: none;
        transition: 0.1s;
}
.mobile-menu {
    display: none;
    cursor: pointer;
  }

.main{
    height: 92vh;
    background: gray;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }


  @media (max-width: 999px) {
.mobile-menu{
    display: block;
}  
body {
    overflow-x: hidden;
  }
.caixa-menu{
    position: absolute;
    top: 8vh;
    right: 0;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    background: #23232e  black;
    /*transform: translateX(100%);*/
    transition: transform 0.5s ease-in;

}


}